﻿@{
    ViewBag.Title = "Seguros";
}

<h2>Seguros</h2>
<div class="container-fluid">
    <section id="loginForm">

        <div class="form-horizontal">
            <h4></h4>
            <hr />
            <div class="form-group">
                <label class="col-md-2 control-label" for="name">Nombre: </label>
                <div class="col-md-7">
                    <input type="text" id="name" autofocus class="form-control" />
                </div>

            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="description">Descripción: </label>
                <div class="col-md-10">
                    <input type="text" id="description" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="startdate">Fecha inicio: </label>
                <div class="col-md-10">
                    <input type="datetime" id="startdate" class="form-control" placeholder="dd/mm/aaaa" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="coveragetime">Período (meses): </label>
                <div class="col-md-10">
                    <input type="number" id="coveragetime" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="price">Precio: </label>
                <div class="col-md-10">
                    <input type="number" id="price" class="form-control" />
                </div>
            </div>


            @*<div class="form-inline">
                    <div class="form-group">
                        <label for="coveragetype" class="col-md-2 control-label">Tipo cobertura:</label>
                        <select id="coveragetype" class="form-control"></select>
                    </div>

                    <div class="form-group">
                        <label for="percentage" class="col-md-2 control-label">Porcentaje:</label>
                        <input type="number" id="percentage" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="risk" class="col-md-2 control-label">Riesgo:</label>
                        <select id="risk" class="form-control">
                            <option value="Bajo">Bajo</option>
                            <option value="Medio">Medio</option>
                            <option value="Medio-alto">Medio-alto</option>
                            <option value="Alto">Alto</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button id="btnAddCoverage" type="button" class="btn btn-outline-dark">Agregar</button>
                    </div>

                </div>*@

            <div id="alertInfo" class="alert alert-warning fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <label id="alerInfolbl" class="alert-info"></label>
            </div>
            
        </div>
    </section>

    <div class="row" style="margin-top: 10px">
        <div class="col-12">
            <table id="grid"></table>
        </div>
    </div>
</div>



@section Scripts
{
    <script src="@Url.Content("~/Scripts/domain/Insurance/InsuranceCreate.js")"></script>
}
