﻿@{
    ViewBag.Title = "Index";
}



<h2>Polizas de seguro</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            
        </div>
        <div class="col-3">
            <button id="btnNewInsurance" type="button" class="btn btn-default pull-right">Nueva Poliza</button>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-12">
            <table id="grid"></table>
        </div>
    </div>
</div>

<div id="dialog" title="Editar" class="gj-display-none">
    <div data-role="body">
        <input type="hidden" id="ID" />
        <section id="loginForm">
            <div class="form-horizontal">
                <h4></h4>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label" for="name">Nombre: </label>
                    <div class="col-md-7">
                        <input type="text" id="name" autofocus class="form-control" />
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="description">Descripción: </label>
                    <div class="col-md-10">
                        <input type="text" id="description" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="startdate">Fecha inicio: </label>
                    <div class="col-md-4">
                        <input type="datetime" id="startdate" class="form-control" placeholder="dd/mm/aaaa" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="coveragetime">Período (meses): </label>
                    <div class="col-md-10">
                        <input type="number" id="coveragetime" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="price">Precio: </label>
                    <div class="col-md-10">
                        <input type="number" id="price" class="form-control" />
                    </div>
                </div>

            </div>
        </section>
       
        <div class="container-fluid">
            <div class="row">
                <div class="col-9">
                  
                </div>
                <div class="col-3">
                    <button id="btnAddCoverage" type="button" class="btn btn-default pull-right">Nueva Cobertura</button>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-12">
                    <table id="gridCoverage"></table>
                </div>
            </div>
        </div>

        <div id="dialogCoverage" class="form-inline">
            <div data-role="body">
                <fieldset>
                    <div class="col-md-3 form-group">
                        <label for="coveragetype" class="control-label">Cobertura:</label>
                        <select id="coveragetype" class="form-control"></select>
                    </div>

                    <div class="col-md-3 form-group">
                        <label for="percentage" class="control-label">Porcentaje:</label>
                        <input type="number" id="percentage" class="form-control" />
                    </div>

                    <div class="col-md-3 form-group">
                        <label for="risk" class=" control-label">Riesgo:</label>
                        <select id="risk" class="form-control">
                            <option value="Bajo">Bajo</option>
                            <option value="Medio">Medio</option>
                            <option value="Medio-alto">Medio-alto</option>
                            <option value="Alto">Alto</option>
                        </select>
                    </div>
                </fieldset>
                <div id="alertInfo" class="alert alert-warning fade in">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <label id="alerInfolbl" class="alert-info"></label>
                </div>
            </div>
            <div data-role="footer">
                <button type="button" id="btnSaveCoverage" class="gj-button-md">Guardar</button>
                <button type="button" id="btnCancelCoverage" class="gj-button-md">Cancelar</button>
            </div>

        </div>
    </div>
    <div data-role="footer">
        <button type="button" id="btnSaveInsurance" class="gj-button-md">Save</button>
        <button type="button" id="btnCancelInsurance" class="gj-button-md">Cancel</button>
    </div>
</div>



@section Scripts
{
    <script src="@Url.Content("~/Scripts/domain/Insurance/InsuranceIndex.js")"></script>
}