﻿@{
    ViewBag.Title = "GAP Seguros";
}

<div class="jumbotron">
    <h1>Polizas de seguros</h1>
    <p class="lead">Cotiza, compara, compra y ahorra en el seguro todo riesgo</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>DATOS PERSONALES</h2>
        <p>
            Te solicitamos los datos básicos del tomador de la póliza: nombre, n° documento, 
            e-mail, celular, ciudad en la que circula el vehículo. Estos datos nos 
            ayudan a validar los mejores descuentos con las compañías de seguros.
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>COTIZACIÓN</h2>
        <p>Con la información del cliente y la del vehículo, cotizamos tu póliza, buscamos siempre presentarte la cotización del mejor producto que tiene cada compañía de seguros.</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>COMPRA</h2>
        <p>Una vez seleccionado el paquete de tu preferencia, te brindamos la asesoría que requieras hasta finalizar la compra de tu póliza, a través de uno de nuestros asesores.</p>
        <p></p>
    </div>
</div>